body {
    background-color: #F5EFE6;
    text-align: center;
}

.jumbotron {
    background-color:#7895B2;
}

.container {
    margin: 50px;
}

.form-control {
    margin: auto;
    width: 30%;

}

#task-form {
    font-size: 16px;
    display: inline-block;
}

#task-form label {
    padding-right: 10px;
}

#current-tasks {
    display: inline-block;
    width: 50%;
}

.list-group-item-text {
    padding: 10px 0px;
}

.well {
    background-color: #AEBDCA;
}

button {
    margin-right: 10px;
}